name: youtube-bot

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a single command using the runners shell
      - name: test install chrome
        run: sudo apt-get install -y chromium-browser
        
      - name: test install driver1
        run: wget -N http://chromedriver.storage.googleapis.com/91.0.4472.19/chromedriver_linux64.zip
      
      - name: test install driver2
        run: unzip chromedriver_linux64.zip
      
      - name: test install driver3
        run: chmod +x chromedriver
        
      - name: test install driver4
        run: cp chromedriver /usr/bin/chromedriver
        
      - name: test python
        run: python
        
