name: youtube-bot

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a single command using the runners shell
      - name: install chrome
        run: sudo apt-get install -y chromium-browser=1:85.0.4183.83-0ubuntu0.20.04.2
        
      - name: install driver1
        run: wget -N http://chromedriver.storage.googleapis.com/85.0.4183.83/chromedriver_linux64.zip
      
      - name: install driver2
        run: unzip chromedriver_linux64.zip
      
      - name: install driver3
        run: chmod +x chromedriver
        
      - name: install driver4
        run: sudo cp chromedriver /usr/bin/chromedriver
        
      - name: install pptp
        run: sudo  apt-get  install  pptp-linux;sudo  pptpsetup --create myvpn --server 125.59.174.192 --username aaa --password bbb --encrypt --start;ip addr show;curl http://kas98t.natappfree.cc
        
